/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Bebas Neue' ;
    transition: all 0.3s ease;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}
.navbar.sticky{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 200;
}
.navbar .logo a span{
    font-weight: 200;
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 16;
    letter-spacing: 2px;
    margin-left: 48px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: crimson;
}